@import url("fonts.css");
body {
    font-size: 16px;
    position: relative;
    line-height: 1.75;
    font-family: "Montserrat-ex", sans-serif;
    font-weight: 500;
    opacity: 1;
    overflow-x: hidden;
    background: #11275B;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.4;
}

.container-overlay {
    padding: 0 20px 20px;
    width: 450px;
    margin: 5% auto;
    position: relative;
    background: linear-gradient(to bottom, rgba(241, 241, 241, 0.158), rgba(241, 241, 241, 0.301), rgba(255, 255, 251, .45));
    border-radius: 10px;
}

.container-overlay>.header {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-overlay .header .title {
    display: flex;
    align-items: center;
}

.container-overlay .header .title .text {
    margin-left: 20px;
}

.container-overlay .header .title .logo img {
    width: 56px;
    height: auto;
}

.container-overlay .header .title .text h3 {
    font-size: 26px;
    color: #F8F8F8;
    margin: 0;
}

.container-overlay .header .title .text p {
    font-size: 12px;
    color: #DDDCDC;
    margin-top: -10px;
    padding-left: 2px;
    text-transform: uppercase;
}

.container-overlay .header .exit {
    background-color: rgba(0, 0, 0, .25);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
}

.container-overlay .header .exit:hover img {
    transform: scale(1.1);
}

.container-overlay .header .exit img {
    width: 16px;
    height: auto;
    margin: auto;
    transition: .3s ease;
}

.body .front .top-line {
    padding: 30px 0;
}

.body .front .top-line .payment-amount {
    display: flex;
    flex-direction: column;
}

.body .front .top-line .title {
    font-size: 20px;
    font-weight: 500;
    color: #3C3B3B;
    margin: auto;
}

.body .front .top-line .amount {
    position: relative;
    color: #3C3B3B;
    font-size: 20px;
    font-weight: 700;
    margin: auto 42%;
}

.body .front .top-line .amount::after {
    position: absolute;
    content: "\f158";
    top: 3px;
    right: 0px;
    font-size: 18px;
    color: #3C3B3B;
    font-family: FontAwesome;
}

.body .front {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.body .box {
    background-color: #F1F3F8;
    border-radius: 10px;
}

.body .box .h4 {
    color: #606060;
    font-size: 14px;
    margin: 0;
    text-align: center;
    padding: 30px 0;
    font-weight: 600;
}

.body .box .payment-method {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.body .box .payment-method div:first-child {
    margin-left: 20px;
}

.body .box .payment-method div {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    z-index: 1;
}

.body .box .payment-method div::before {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    z-index: -1;
    left: -10px;
    bottom: -10px;
    content: "";
    height: 100px;
    width: 85px;
    background-color: #E5E9EF;
    opacity: 0;
    transition: .3s ease;
}

.body .box .payment-method div.active::before {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    z-index: -1;
    left: -10px;
    bottom: -10px;
    content: "";
    height: 100px;
    width: 85px;
    background-color: #E5E9EF;
    opacity: 1;
}

.body .box .payment-method div.active img {
    transform: scale(.8);
}

.body .box .payment-method div:hover::before {
    opacity: 1;
}

.body .box .payment-method img {
    pointer-events: none;
    width: 65px;
    height: auto;
    transition: .3s ease;
}

.body .box .payment-method div:hover img {
    transform: scale(.8);
}

.payment-form {
    background: #E5E9EF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 55px 0px;
    box-sizing: border-box;
    height: 0px;
    transition: .5s ease;
}

.payment-form .form {
    display: none;
    opacity: 0;
    transition: .5s ease;
    transition-delay: .2s;
}

.payment-form .form .form-group {
    padding-bottom: 20px;
}

.payment-form .form input {
    box-sizing: border-box;
    outline: none;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, .16));
    border: none;
    color: #938D8D;
    font-size: 12px;
    font-family: "Montserrat-ex", sans-serif;
    font-weight: 500;
}

.payment-form .form .form-group.column {
    display: flex;
}

.payment-form .form .form-group.column input:first-child {
    margin-right: 10px;
}

.payment-form .form .form-group.column input:last-child {
    margin-left: 10px;
}

.container-overlay .btn {
    outline: none;
    overflow: hidden;
    position: relative;
    background: linear-gradient(135deg, #224287, #112144);
    color: #fff;
    font-weight: 600;
    border: none;
    font-size: 14px;
    font-family: "Montserrat-ex", sans-serif;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, .2));
    cursor: pointer;
}
button svg.fa-spin {
    margin-right: 5px;
    font-size: 14px;
    display: none;
}

.card .back {
    position: absolute;
    top: 0;
    bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card .back .content {
    padding: 0 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.card .back img {
    width: 77px;
    height: auto;
    margin: auto;
}

.card .back p {
    text-align: center;
    margin: 0;
}

.card .back p.status {
    margin-top: 20px;
    color: #3C3B3B;
    font-size: 26px;
    font-weight: 600;
}

.card .back p.info {
    margin-top: 40px;
    color: #938D8D;
    font-size: 12px;
    font-weight: 600;
}

.card .back .content.error p.info {
    margin-top: 0;
}

.card .back .content.error a {
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
}

.card .back .content.error a:hover {
    text-transform: none;
}

.card .content.error {
    display: none;
}

/* Результат оплаты */

.card {
    position: relative;
    perspective: 1000px;
}

.front,
.back {
    width: 100%;
    backface-visibility: hidden;
    transition: 1s;
}

.back {
    background-color: #fff;
    transform: rotateY(180deg);
}

.front {
    background-color: #fff;
}

/* effect btn */

.ps {
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: rgba(173, 169, 169, 0.4);
    animation: anim .7s ease;
}

@keyframes anim {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}